<ion-header>
  <ion-toolbar>
    <ion-title>Imágenes de Perros y Títulos de Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Muestra las imágenes y títulos de los libros -->
  <div *ngFor="let dogImage of dogImages; let i = index">
    <img [src]="dogImage" alt="Imagen de perro" />
    <p>{{ bookTitles[i] }}</p>
  </div>

  <!-- Botón para guardar los títulos de los libros y las imágenes de perros -->
  <ion-button expand="block" (click)="saveBooksAndDogs()">Guardar Titulos de Libro y Perros</ion-button>  
</ion-content>
