<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil de github
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <div class="center">
            <ion-img src="../../assets/wesitos.png" class="ion-align-self-end"></ion-img>
            <ion-card-header>
              <ion-card-title>Mateo Garzon</ion-card-title>
              <ion-card-subtitle>Tecnologo Superior en Desarrollo de Software</ion-card-subtitle>
            </ion-card-header>
          
         
          </div>
          <ion-card-content>
            Me fascina el desarrollo de páginas web y aplicaciones. Desde muy joven, me interesé por la informática y me encanta aprender nuevas tecnologías. Aspiro a crear algo que revolucione o transforme mi entorno y que aporte un valor significativo a la sociedad.
          </ion-card-content>    
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <div class="center">
            <ion-img src="../../assets/github.png" class="ion-align-self-end"></ion-img>
            <ion-card-header>
              <ion-card-title>REPOSITORIO DE LA APLICACION MOVIL AQUI</ion-card-title>
              <ion-button href="https://github.com/WesitosFsa/PRUEBA1-APPMOVI" target="_blank" color="dark">
                <ion-icon name="logo-github" slot="start"></ion-icon>
                GitHub
              </ion-button>
            </ion-card-header>
          
         
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>